.App {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
      border:solid rgb(204, 204, 204) 1px;
}
.outerWrapper {
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.graphDetailsWrapper {
    width: 100%;
    flex: 1;
}
@media screen and (min-width:768px) {
    .outerWrapper {
        flex-direction: row;
    }
}