html,body,#root{
    margin: 0;
    height: 100%;
}

body{
    
    /* background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./assets/images/money.png');
    background-size: contain;
    background-position: center; */

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}